*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
    font-family: 'Gill Sans';
}

html,body{
    height:100%;
    width:100%;
}
#main{
    height:100%;
    width:100%;

}
#header{
    height:13%;
    width:100%;
    position:fixed;
   background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

#logo{
    height: 70%;
    
}
#logo img{
object-fit: cover;
height:100% ;
width: 100%;

}
#fakeheader{
    height:13%;
    width:100%;
   

}
.texts{
   
    color: rgb(0, 0, 92);
    
}
.texts:hover{
    color: rgb(0,176,211);
}
#contact{
    
    font-weight: lighter  ;
}
.icon{
   
    padding:10px;
    border-radius:50%;

}
.icon:hover{
    background-color: lightblue;
}
#login{
    display: flex;
    padding:10px;
    border-radius:50px;
   
}
#login:hover{
    background-color: lightblue;

}
#try{
    background-color:green;
    padding: 10px 20px;
    color: white;
}
#try:hover{
    background-color:rgb(0, 51, 0);
   
}

#page1{
    
    height:87%;
    width:100%;
    background-color: white;
}
#strip{
    width: 100%;
    height: 8%;
    background-color: rgb(2, 2, 80);
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;

}
#strip u{
    margin-left: 20px;
    font-weight: lighter;
}
#content{
    width: 100%;
    height:75%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    
}
#box1{
    height: 90%;
    width: 47%;
    background-color: white;
   
}
#box2{
    height: 90%;
    width: 47%; 
    
   
}

#heading{
    width: 100%;
    height: 17%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: rgb(3, 3, 46);
    
}

#heading h1{
    font-weight: 600;

}

#box1 h1{

    font-weight: 600;
    color:rgb(1, 1, 37);
    font-size: 45px;
    margin: 30px 10px;

}
#box1p{
    
    font-size: x-large;
    margin: 30px 10px;
    font-weight: 400;
    
}

/* #box1 h1{
    font-weight: 600;
    color:rgb(0, 0, 80) ;
    font-size: 45px;
    margin: 30px 10px;
}

#box1 p{
    font-size: x-large;
    font-weight: 400;
    margin: 30px 10px;
    
} */

/* #buttons{
    display: flex;
    
}

#button1{
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    width: 23%;
    padding: 10px 20px;
    color: white;
    background-color: rgb(0, 144, 192);
}
#button1:hover{
    background-color: rgb(0, 54, 72);
}

#button2{
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    width: 23%;
    padding: 10px 20px;
    color:  rgb(0, 144, 192);
    border: 1px solid  rgb(0, 144, 192);
}

#button2:hover{
    background-color:lightblue ;
    color: rgb(0, 85, 113);
    border-color:rgb(0, 85, 113) ;
} */

#buttons{
    display: flex;
    
}

#button1{
    text-align: center;
    padding: 10px 20px;
    color: white;
    background-color: lightblue;
    width:24%;
    margin :10px;
    border-radius:5px;
}
#button1 p{
    font-size: small;
}

#button1:hover{
    background-color:darkblue;
}
#button2{
    text-align: center;
    padding: 10px 20px;
    color: lightblue;
    border: 1px solid lightblue;
    border-radius:5px;
    width:24%;
    margin: 10px;


}
#button2:hover{
color: rgb(1, 1, 37);
border-color: rgb(1, 1, 37);

}
#page2{
    height:87%; 
    width:100%;
    background-color: white;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
#page2 {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.box4 {
    width: 21.5%;
    height: 350px;
    background-color: white;
  
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center; 
   
    border-collapse: collapse;
    

}
#small-business{
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
   
    border-radius: 10%; 
    padding: 10px;
    margin-left: 40px; 
    box-shadow: 0px 0px 10px rgba(43, 41, 41, 0.5);  
    object-fit: contain;
    overflow: hidden;
    position: relative;
}
#small-business img{
    position: absolute;
    object-fit: contain;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40%;
    object-fit: cover;
}
#small-business h1 {
    position: relative;  
    margin: 0;
    padding: 10px;
    color: #032D60;
    font-size: large;
    margin-top: 100px;
    text-align: left;
}

#small-business p {
    color: black;
    margin: 0;
    padding: 10px;
    font-size: medium;
    text-align: left;
   
}



#sales-cloud{
   
    border-radius: 10%; 
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(43, 41, 41, 0.5); 
  
  overflow: hidden;
  position: relative;

text-align: left;
display: flex;
    flex-direction: column; 
    align-items: flex-start;
    
}

#sales-cloud img{
    position: absolute;

    top: 0;
    left: 0;
    
    width: 100%;
    height: 40%;
    object-fit: cover;
    z-index: 0;
}
#sales-cloud h1 {
    position: relative;  
    margin: 0;
    padding: 10px;
    color: #032D60;
    font-size: large;
    margin-top: 100px;
    text-align: left;
}

#sales-cloud p {
    color: black;
    margin: 0;
    padding: 10px;
    font-size: medium;
    text-align: left;
   
}
#service-cloud{
   
    border-radius: 10%; 
    padding: 10px;
    
    box-shadow: 0px 0px 10px rgba(43, 41, 41, 0.5); 
    object-fit: contain;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}
#service-cloud img{
    position: absolute;
    object-fit: contain;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40%;
    object-fit: cover;
}
#service-cloud h1 {
    position: relative;  
    margin: 0;
    padding: 10px;
    color: #032D60;
    font-size: large;
    margin-top: 100px;
    text-align: left;
}

#service-cloud p {
    color: black;
    margin: 0;
    padding: 10px;
    font-size: medium;
    text-align: left;
   
}

#marketing-cloud {
  
    border-radius: 10%; 
    padding: 10px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    
    box-shadow: 0px 0px 10px rgba(43, 41, 41, 0.5); 
    margin-right: 40px; 
    object-fit: contain;
    overflow: hidden;
    position: relative;
}

#marketing-cloud img{
    position: absolute;
    object-fit: contain;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40%;
    object-fit: cover;
}

#marketing-cloud h1 {
    position: relative;  
    margin: 0;
    padding: 10px;
    color: #032D60;
    font-size: large;
    margin-top: 100px;
    text-align: left;
}

#marketing-cloud p {
    color: black;
    margin: 0;
    padding: 10px;
    font-size: medium;
    text-align: left;
   
}
